@use "./mixins" as *;
@use "./variables" as *;


@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@mixin font-reg {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

@mixin font-bold {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

@mixin font-demi {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-weight: 400; 
}

@mixin small-font-header {
    @include font-demi;
    font-size: $px24;
    line-height: $px32;
}

@mixin small-font-reg {
    @include font-reg;
    font-size: $px12;
    line-height: $px20;
}

@mixin small-font-label {
    @include font-demi;
    text-transform: uppercase;
    font-size: $px12;
    line-height: $px20;
}

@mixin small-font-sub {
    @include font-demi;
    font-size: $px13;
    line-height: $px18;
}

@mixin small-font-sec {
    @include small-font-reg;
    text-transform: uppercase;
    color: $silver;
}

@mixin small-font-form-title {
    @include font-demi;
    font-size: $px12;
    line-height: $px20;
    text-transform: uppercase;
    color: $silver;
}

@mixin small-font-body {
    @include font-reg;
    font-size: $px13;
    line-height: $px18;
}

@mixin large-font-header {
    @include font-bold;
    font-size: $px33;
    line-height: $px44;
}

@mixin large-font-sub {
    @include font-demi;
    font-size: $px14;
    line-height: $px22;
}

@mixin large-font-body {
    @include font-reg;
    font-size: $px14;
    line-height: $px22;
}