@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mediaqueries" as *;

.videos {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $mercury;
    @include mobile-margin-x;
    @include mobile-padding-y;
    &__section-header {
        @include small-font-sec;
        margin: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        &--thumbnail {
            width: $px112;
            height: $px70;
            flex-shrink: 0;
            margin-top: $px16;
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }
        &--body {
            padding-left: $px16;
            &-title {
                @include small-font-sub;
                padding: $px12 0;
                margin: 0;
                max-width: $px160;
            }
            &-channel {
                @include small-font-body;
                margin: 0;
            }
        }
    }
    @include tablet-bp {
        @include tablet-margin-x;
    }
    @include desktop-bp {
        @include mobile-margin-x;
    }
}