@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mediaqueries" as *;

.comments-heading {
    margin: $px18 0 0;
    @include small-font-sub;
    @include mobile-padding-x;
    @include tablet-bp {
        @include tablet-padding-x;
        margin-top: $px24;
    }
    @include desktop-bp {
        @include desktop-padding-x;
        margin-top: $px32;
    }
}