@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mediaqueries" as *;

.comments__posted {
    display: flex;
    flex-direction: column;
    &--card {
        width: 100%;
        display: flex;
        border-top: 1px solid $mercury;
        padding: $px16;
    }
    &--user-img {
        @include user-pic;
    }
    &--top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: $px16;
    }
    &--name {
        @include small-font-sub;
        justify-content: left;
        width: 50%;
    }
    &--date {
        @include small-font-sec;
        width: auto;
        padding: 0;
        justify-content: right;
    }
    &--body {
        @include small-font-body;
        width: 100%;
        padding: $px8 0 0 $px16;
    }
}