@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mediaqueries" as *;

.submit-section {
    margin: 0;
    @include mobile-padding-x;
    @include mobile-padding-y;
    @include tablet-bp {
      @include tablet-padding-x;
    }
    @include desktop-bp {
      @include desktop-padding-x;
    }
  
    &__title {
      margin: 0;
    }
    &__user-pic {
      @include user-pic;
      margin: $px40 $px16 0 0;
    }
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: $px16;
      border-bottom: 1px solid red;
      &-div {
        display: flex;
        width: 100%;
        justify-content: stretch;
        @include tablet-bp {
          @include tablet-padding-x;
        }
        @include desktop-bp {
          @include desktop-padding-x;
        }
      }
    }
}
.button {
    margin-top: $px24;
}
.name-field {
    padding: $px12;
    &:focus {
      border-color: red;
      outline: none;
    }
    &__validate:invalid {
      border-color: red;
      outline: none;
    }
    @include tablet-bp {
      padding: $px16;
    }
}
  
.comment-field {
    resize: none;
    height: $px128;
    transition: height 0.3s ease;
  
    padding: $px12;
    &:focus {
      border-color: red;
      outline: none;
    }
    &validate:invalid {
      border-color: red;
      outline: none;
    }
    @media screen and (min-width: $tablet) {
      height: $px80;
      padding: $px16;
    }
}
  
.form__label {
   
    padding-top: $px24;
    @include tablet-bp {
      
    }
}




.comments__posted {
    display: flex;
    flex-direction: column;
    &--card {
        width: 100%;
        display: flex;
        border-top: 1px solid $mercury;
        padding: $px16;
    }
    &--user-img {
        @include user-pic;
    }
    &--top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: $px16;
    }
    &--name {
        @include small-font-sub;
        justify-content: left;
        width: 50%;
    }
    &--date {
        @include small-font-sec;
        width: auto;
        padding: 0;
        justify-content: right;
    }
    &--body {
        @include small-font-body;
        width: 100%;
        padding: $px8 0 0 $px16;
    }
}