@use "./mixins" as *;
@use "./variables" as *;
@use "./fonts" as *;
@use "./mediaqueries" as *;

.header {
    width: 100%;
    padding: $px16;;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        max-width: $px160;;
        padding: $px16 0;
    }

    &__div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        &--form-div {
            flex-basis: calc(100% - $px64);
            @include tablet-bp {
                flex-basis: auto;
            }
        }
        &--search {
            width: 100%;
            height: $px40;
            border-radius: $px4;
            border-color: #E1E1E1;
            border: 1px solid $mercury;
            background-image: url("../../assets/images/icons/search.svg");
            background-position: $px10 $px12;
            background-repeat: no-repeat;
            padding: $px8 $px20 $px8 $px40;
            margin: $px16 0;
            order: 0;
            flex-grow: 1;
            @include mobile-font-reg;
            color: $brainflix-black;
            @include tablet-bp {
                width: 15rem;
                margin-right: $px24;
            }
        }
        &--upload-btn {
            @include mobile-font-bold;
            width: 100%;
            height: $px40;
            background-color: $brainflix-blue;
            color: $white;
            border-radius: $px4;
            border-style: none;
            position: relative;
            order: 2;
            .upload-btn-svg {
                position: absolute;
                top: $px8;
                left: $px8;
    
            }
            @include tablet-bp {
                order: 1;
                @include tablet-padding-x;
                margin-right: $px24;
                width: 10rem;
            }
        }
        &--user-pic {
            border-radius: 50%;
            width: $px40;
            height: $px40;
            order: 1;
            margin-left: $px16;
            @include tablet-bp {
                order: 2;
                margin: 0;
            }
        }
        @include tablet-bp {
            flex-wrap: nowrap;
            justify-content: right;
        }
    }
    @include tablet-bp {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;
        @include tablet-padding-x;
    }
    @include desktop-bp {
        @include desktop-padding-x;           
    }
}